<nav class = "navbar bg-light fixed-top">

<ul class = "nav">
    <div class="dropdown">
        <button class="btn btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="secondary" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-secondary" aria-labelledby="dropdownMenuButton2">
          
          <li><a class="dropdown-item active" href="#"><b>Home</b></a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item"><b>PUBLIC</b></a>
          <li><a class="dropdown-item" href="#">Questions</a></li>
          <li><a class="dropdown-item" href="#">Tags</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item"><b>COLLECTIVES</b></a>
          <li><a class="dropdown-item" href="#">Explore Collectives</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item"><b>FIND A JOB</b></a>
          <li><a class="dropdown-item" href="#">Jobs</a></li>
          <li><a class="dropdown-item" href="#">Companies</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"><b>Teams</b></a></li>
         
        </ul>
      </div>
    <li class="nav-item" routerLink = "/home"><a class="nav-link text-secondary">
      <img src="./assets/header.png" width="230" height="40" alt="">
    </a></li>
</ul>
<ul class = "nav">
    <li class = "nav-item"><a class="nav-link text-secondary" href="#">
        About
   </a></li>
   <li class = "nav-item"><a class="nav-link text-secondary" href="#">
        Products
    </a></li>
    <li class = "nav-item"><a class="nav-link text-secondary" routerLink = "/teams">
        For Teams
    </a></li>
</ul>




    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">

        </div>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon1">
      </div>
    </form>

      <ul class = "nav">
    <li class = "nav-item"><a class="nav-link" routerLink = "/log-in">
        <button type="button" class="btn btn-outline-primary" >Log in</button>
    </a></li>
    <li class = "nav-item"><a class="nav-link" routerLink = "/sign-up">
        <a class="btn btn-primary"  role="button">Sign up</a>
    </a></li>
</ul>

</nav>