

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="indicators carousel-indicators" style="color: rgb(0, 0, 0);">
        
      <button type="button" data-bs-target="#myCarousel" style="background-color: rgb(0, 0, 0);" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" style="background-color: black;" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" style="background-color: black;" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" style="background-color: black;" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-start">
            
            <ul class="nav justify-content-center">
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/expensify.png" width="130" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/verizon.webp" width="130" height="50" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/bloomberg.svg" width="130" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/intercom.png" width="160" height="40" alt="">
                </li>
              </ul>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <ul class="nav justify-content-center">
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/box.png" width="130" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/overstock.png" width="170" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/instacart.jpg" width="130" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/log.svg" width="130" height="40" alt="">
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <ul class="nav justify-content-center">
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/chevron.svg" width="40" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/dia.png" width="170" height="50" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/phil.png" width="160" height="25" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/siem.png" width="160" height="40" alt="">
                </li>
              </ul>









           
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-end">
            <ul class="nav justify-content-center">
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/microsoft.svg" width="130" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/bark.png" width="130" height="40" alt="">
                </li>
                <li class="nav-item" style = "margin-left: 5%;">
                    <img src="./assets/wg.png" width="130" height="40" alt="">
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
   
  </div>



 
</main>
