<main class="form-signin">

    




    <form class = "bg-white">

     

      <h1 strong class=" fw-normal text-black"> Get started
      </h1>

      <h6 strong class=" fw-normal text-secondary"> Please enter the email you use for work – this will be your admin account. You’ll receive a verification via email you can use to access your Team.

      </h6>
  
<p></p>
      <h6 strong class=" fw-normal text-black"> Your work email</h6>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      </div>
  
      
      <button class="w-100 btn btn-lg text-white " style="background-color: rgb(45, 182, 182) ;" type="submit">Next step</button>
    </form>
  </main>
