<div class="row">



    <div class="d-flex flex-row text-center justify-content-center bg-dark text-secondary">

    <div *ngFor = "let welcome of welcomecards;">
        <app-welcome icon ={{welcome.icon}}
        
        title ={{welcome.title}}
        
        button ={{welcome.button}}
        
        link ={{welcome.link}}
            
        color = {{welcome.color}}
            
        bcolor = {{welcome.bcolor}}
    
        
        >

        
            
            Loading</app-welcome>

    </div>
</div>

<app-user-info>Loading</app-user-info>
    <app-carousel>Loading</app-carousel>

    <app-hero>Loading</app-hero>

    <app-pricing>Loading</app-pricing>

    <div class="row sticky-bottom">
        <app-bottom-nav-bar>Loading</app-bottom-nav-bar>
    </div>
</div>